___Archive/*
datasets*
labels*
inference*
runs
Tests
yolov8x_*
yolov7-1*
*.jpg
*.png
*.csv
*_pycache_*
tst*
.ipynb_checkpoints*
*Outlier_Goby_Imgs*
*test_runs/detect*
*validation/detect*
*training*
Outputs/
obb_iou_theta.py
*gobyfinder_yolov8.git
Best_Model_Weights/train/Run11+weights/
Best_Model_Weights/train/Run7weights/
Best_Model_Weights/train/run12+_bbox_png/best.pt
Best_Model_Weights/train/run12+_bbox_png/last.pt
sam2_l.pt
yolo11n.pt
yolo11x.pt
yolov8n.pt
yolov8x-obb.pt
yolov8x.pt
yolov9e.pt
Best_Model_Weights*
GobyFinderAUV.pt
GobyFinderGoPro.pt
build/
dist/
error_log.txt
log.txt
remove_venv.py
requirements.txt
test_runs/tmp/
test_runs/tmp2/
test_runs/tmp3/
test_runs/tmp4/
test_runs/tmp5/
yolo_inference_gui.spec
*.spec
output